.file-manager {
  display: flex;
  height: 100vh;
}

.explorer-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  border-right: 1px solid #ccc;
}

.select-file-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #666;
  text-align: center;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1; /* Установите 1, чтобы модальное окно было видно */
  transition: opacity 0.3s ease-in-out; /* Плавное появление */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  animation: slide-down 0.3s ease-out; /* Плавное появление сверху */
}

.modal h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.modal p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.modal button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal button:hover {
  background-color: #0056b3;
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
