.file-manager {
  display: flex;
  height: 100vh;
}

.explorer-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 350px;
  border-right: 1px solid #ccc;
}

.select-file-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  color: #666;
  text-align: center;
}
